.engine {
	border: 1px solid #444;
	border-top: 1px solid #666;
	border-bottom: 1px solid #333;
	background: #000;
	
	position: absolute;
	/*cursor: none;*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.engine .engine-canvas {
	position: absolute;
	top: 0px;
	z-index: 10;
}
.engine .gui {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	z-index: 20;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.gui {
	font-family: monospace;
}
.gui > .inner {
	padding: 6px;
}
a {
	cursor: pointer;
}