.engine {
	border: 1px solid #444;
	border-top: 1px solid #666;
	border-bottom: 1px solid #333;
	background: #000;
	
	position: absolute;
	/*cursor: none;*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.engine .gui {
	position: absolute;
	top: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}